<% @product.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <%= message %>
  </div>
<% end %>

<%= form_for @product do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: ["new-control", "new-control-lg"] %>
  </div>

  <div class="form-group">
    <%= f.label :departament %>
    <%= f.collection_select :departament_id, @departaments, :id, :name, {}, class: ["new-control", "new-control-lg"] %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: ["new-control", "new-control-lg"], rows: 4 %>
  </div>

  <div class="form-inline">
    <div class="form-group">
      <%= f.label :quantitiy %>
      <%= f.number_field :quantitiy, step: 1, class: ["new-control", "new-control-lg"]  %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.1, class: ["new-control", "new-control-lg"]  %>
    </div>
    <%= f.submit name_of_button, class: ["btn", "btn-primary"] %>
  </div>

<% end %>
