<% if @product_created %>
  <div class="alert alert-success" role="alert">
    Produto adicionado com sucesso!
  </div>
<% end %>


<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th class="text-center">Preço</th>
    <th class="text-center">Quantidade</th>
    <th class="text-center">#</th>
  </tr>
  </thead>
  <tbody>
  <% @products_list_order_name.each do |product| %>
    <tr>
      <td><%=  product.id %></td>
      <td><%=  product.name %></td>
      <td><%=  product.description%></td>
      <td class="text-right">R$ <%=  product.price %></td>
      <td class="text-center"><%=  product.quantitiy %></td>
      <td class="text-center">
        <%= button_to "Remover", product,
                      method: :delete,
                      class: "btn btn-danger",
                      data: { confirm: "Tem certeza que deseja remover o produto?" } %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr />

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Quantidade</th>
  </tr>
  </thead>
  <tbody>
  <% @products_list_order_price.each do |product| %>
    <tr>
      <td><%=  product.name %></td>
      <td><%=  product.description%></td>
      <td><%=  product.price %></td>
      <td><%=  product.quantitiy %></td>
    </tr>
  <% end %>
  </tbody>
</table>
