<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th class="text-center">Preço</th>
    <th class="text-center">Quantidade</th>
    <th class="text-center">#</th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |product| %>
    <tr>
      <td><%=  product.id %></td>
      <td><%=  product.name %></td>
      <td><%=  product.description%></td>
      <td class="text-right">R$ <%=  product.price %></td>
      <td class="text-center"><%=  product.quantitiy %></td>
      <td class="text-center">
        <%= button_to "Remover", product,
                      method: :delete,
                      class: "btn btn-danger",
                      data: { confirm: "Tem certeza que deseja remover o produto?" } %>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>