<!DOCTYPE html>
<html>
  <head>
    <title>t-Shirt Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= nav_bar brand: "Fawacom", brand_link: root_url %>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
